.nav{
    position: fixed;
    overflow: auto;
    background: linear-gradient(180deg, #000000 0%, rgba(7, 39, 65, 0.966)100%);
    display: flex;
    flex-direction: column;
    top: 0;
    right: -160px;
    transition-duration: 500ms;
    transition-property: right;
    max-width: 300px;
    height: 100vh;
    padding: 6px;
}

.hide{
    display: none;
}
.nav>ul{
    padding: 0;
    list-style: none;
}
.nav>ul>li{
    border: 1px solid rgba(31, 33, 119, 0.514);
    border-radius: 7px;
    color: aliceblue;
    line-height: 45px;
    padding: 0px 20px;
    margin: 10px 0px;
    font-size: 70%;
}
.individuo{
    font-size: 70%;
    padding: 10px;
    list-style: none;
}
.pessoa{
    padding: 10px;
    color: white;
    padding-left: 20px;
    border: 1px solid rgba(119, 31, 107, 0.514);
    border-radius: 7px;
}

.pessoa_c{
    border: 1px solid rgba(31, 33, 119, 0.514);
    border-radius: 7px;
    list-style: none;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}
.pessoa_c>li:nth-child(n+2):nth-child(-n+3){
    padding: 5px 10px;
    border: 1px solid rgba(72, 211, 107, 0.514);
    border-radius: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 100%;
}
.versao{
    position: relative;
    right: 0px;
    bottom: 0px;
    margin-top: 30px;
    font-size: 10px;
    color: white;
}
.bot_h{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: red;
    
}
.tran:nth-child(1){
    -ms-transform: skew(20deg,10deg);
    transform: skew(-1deg,31deg);
    transition-duration: 1000ms;
    transition-property: transform;
}
.tran:nth-child(2){
    
    -ms-transform: skew(20deg,10deg);
    transform: skew(-10deg,-32deg);
    transition-duration: 1000ms;
    transition-property: transform;
}
.tran:nth-child(3){
    -ms-transform: skew(20deg,10deg);
    transform: skew(0deg,-32deg);
    transition-duration: 1000ms;
    transition-property: transform;
}
